# Dependencies
node_modules/

# Build artifacts
dist/
client/dist/
shared/dist/
server/dist/

# Environment files
.env
.env.prod
.env.test
.env.local

# Example dosyaları hariç
!.env.example
!.env.prod.example
!.env.test.example

# Logs and OS files
*.log
.DS_Store