@use "./styles/global.scss";

.app {
  height: 100vh;
}

.app-content {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app-content__main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

// Navbar hover / route change anında scroll-bar render'ını engelle.
body.scroll-lock {
  .app-content__main {
    overflow: hidden !important;
  }

  .table-wrapper {
    overflow: hidden !important;
  }
}